pre {
 background-color: #FFFFF8;
}
body {
 width: 550px;
}
div.TH
span.name {
 color: maroon;
}
span.center_header {
 font-variant: small-caps;
 float: right;
 clear: right;
 color: maroon;
}

span.center_footer {
 font-variant: small-caps;
 float: right;
 clear: left;
 color: maroon;
}
span.left_footer {
 font-variant: small-caps;
 float: right;
 clear: right;
 color: maroon;
}
div.SH 
h2 {
 color: maroon;
 margin-left:-40px;
 margin-bottom:0px;
 font-size: medium;
 font-variant: small-caps;
 text-transform: uppercase;
}
div.SH 
h3 {
 color: maroon;
 margin-left:-20px;
 margin-top:9px;
 font-size: medium;
}
div.SH {
 margin-left:40px;
}
div.TP {
 position: relative;
 left: 40px;
 margin-top: 10px;
 padding-top: 0px;
}
div.TP
span {
 position: relative;
 left: -40px;
 display: block;
}

p.IP {
 margin-left: 60px;
}
p.IP
span {
 margin-left: -60px;
 float: left;
 margin-right: 10px;
}
p.HP {
 margin-left: 40px;
 text-indent: -40px;
}

b {
 color: maroon;
}

a {
 color: maroon;
 text-decoration: none;
}

b.spaced {
 font-size: 90%;
 padding-left: 4px;
 padding-right: 4px;
}
